body {
    background-color: gray;
    color: cornsilk;
}
table{
    border: 4px solid #0094ff;
    background: #666666;
}
table table{
    border: none;
}
td { /*Този CSS ще оцвети и очертае с 4 пиксела, всички таблици по-долу (това става посредством селектор "td"-тъй като всички клетки започват с <td>).*/
    border: 4px solid cornsilk;
}
td td { /*Този CSS ще оцвети и очертае с 2 пиксел, всички ВЛОЖЕНИ таблици по-долу (това става посредством селектор "td td"-тъй като всички ВЛОЖЕНИ клетки започват с <td>, което е част предходното <td> на основната клетка).*/
        border: 2px solid #ffffff;
}
.htmlButtons {
    border: solid #0094ff;
}